// Media Query Breakpoints

$brkpoint-xs : '(min-width: 480px)';
$brkpoint-sm : '(min-width: 768px)';
$brkpoint-md : '(min-width: 992px)';
$brkpoint-lg : '(min-width: 1260px)';

// Container Widths

$cont-width-sm : 750px;
$cont-width-md : 970px;
$cont-width-lg : 1200px;