// Colors

// Only used once

$searchfieldtxt: #555;

//

$default:#666;

$purple:#926fb1;
$dark-purple:#7e57a0;

$search-grey: #999aa2;
$search-grey-darker: #7e808a;

$navsupportbtn: #4183d7;
$navsupporthvr: #2a6ec6;
$navcontacthvr: #84858f;
$required:#d24d57;
$welbtn: #272936;
$welbtnhvr: #121318;
$googlebtn: #4387f6;
$googlebtnhv: #166af4;
$trustpilotbtn: #00b67b;
$trustpilotbtnhvr: #009b69;
$gradient: #000;
$client3hvr: #26ab5f;
$client6: #67809f;
$client6hvr: #566c88;
$client10hvr: #2a6ec6;
$quotecolor: #a3a8ac;
$highlightclr: #5bc0de;


$black          : #000;
$white          : #fff;
$lighter-grey   : #ddd;
$light-grey     : #ccc;
$dark-grey      : #333645;
$darker-grey    : #22242e;


$cookies-btn-color       :   #75788a;
$cookies-btn-hv-color    :   #999AA1;

$newsletter-bg-color    :   #ddd;
$license-bg-color       :   #212330;
$footer-bg-color        :   #323544;


$article-colors: (#926fb1, #ce4125, #2ecc71); // Colors for articles.

// Social Media Colors

$facebook-color     :   #3b5998;
$linkedin-color     :   #0077b5;
$twitter-color      :   #00aced;
$instagram-color    :   #d93175;

// Media Query Breakpoints

$brkpoint-min-xs : '(min-width: 480px)';
$brkpoint-min-sm : '(min-width: 768px)';
$brkpoint-min-md : '(min-width: 992px)';
$brkpoint-min-lg : '(min-width: 1260px)';

$brkpoint-max-xs : '(max-width: 480px)';
$brkpoint-max-sm : '(max-width: 767px)';
$brkpoint-max-md : '(max-width: 991px)';
$brkpoint-max-lg : '(max-width: 1259px)';

// Container Widths

$cont-width-sm : 750px;
$cont-width-md : 970px;
$cont-width-lg : 1200px;

// Services List

$services: 
"bespoke-software", 
"it-support", 
"digital-marketing", 
"telecoms-services", 
"web-design", 
"cyber-security", 
"developer-course";

// Services Colors

$service-colors-map: (
  bespoke-software: #67809f,
  it-support: #4183d7,
  digital-marketing: #2ecc71,
  telecoms-services: #d64541,
  web-design: #926fb1,
  cyber-security: #f62459,
  developer-course: #ce4125
);

$service-menu-colors-map: (
    bespoke-software: #526781,
    it-support: #286abd,
    digital-marketing: #25a25a,
    telecoms-services: #bc2c28,
    web-design: #79539a,
    cyber-security: #de093f,
    developer-course: #a3331d
);
