// Colors

$black          : #000;
$white          : #fff;
$grey           : #ccc;
$dark-grey      : #333645;
$darker-grey    : #22242e;

$cookies-btn-color       :   #75788a;
$cookies-btn-hv-color    :   #999AA1;

$newsletter-bg-color    :   #ddd;
$license-bg-color       :   #212330;
$footer-bg-color        :   #323544;


$article-colors: (#926fb1, #ce4125, #2ecc71); // Colors for articles.

// Social Media Colors

$facebook-color     :   #3b5998;
$linkedin-color     :   #0077b5;
$twitter-color      :   #00aced;
$instagram-color    :   #d93175;

// Media Query Breakpoints

$brkpoint-min-xs : '(min-width: 480px)';
$brkpoint-min-sm : '(min-width: 768px)';
$brkpoint-min-md : '(min-width: 992px)';
$brkpoint-min-lg : '(min-width: 1260px)';

$brkpoint-max-xs : '(max-width: 480px)';
$brkpoint-max-sm : '(max-width: 767px)';
$brkpoint-max-md : '(max-width: 991px)';
$brkpoint-max-lg : '(max-width: 1259px)';

// Container Widths

$cont-width-sm : 750px;
$cont-width-md : 970px;
$cont-width-lg : 1200px;
