// Only show element on screens up to 768px wide.
.xs-only {
    display: block;

    @include mq_min(small) {
        display: none;
    }
}

// Only show element on screens up to 992px wide.
.xs-md-only {
    display: none;

    @include mq_max(medium) {
        display: block;
    }
}

// Only show element on screens at least 768px wide.
.sm-lg-only {
    display: none;

    @include mq_min(small) {
        display: block;
    }
}

// Hide element on screen less than 992px wide.
.md-lg-only {
    @include mq_max(medium) {
        display: none;
    }
}

// Add asterick after label.
.required {
    &:after {
        content: " *";
        color: #d24d57;
    }
}


// Stupid bug fixes...

// Required so you can scroll to bottom of page on iOS devices.
html, body, .content, .content_wrapper  {
    height: 100%;
}

// Required so scroll bar stays in front of footer on iOS devices.
footer {
    z-index: -1;
}
