// Only show element on screens up to 768px wide.
.xs-only {
    display: block;

    @include mq_min(small) {
        display: none;
    }
}

// Only show element on screens up to 992px wide.
.xs-md-only {
    display: none;

    @include mq_max(medium) {
        display: block;
    }
}

// Only show element on screens at least 768px wide.
.sm-lg-only {
    display: none;

    @include mq_min(small) {
        display: block;
    }
}

// Hide element on screen less than 992px wide.
.md-lg-only {
    @include mq_max(medium) {
        display: none;
    }
}

// Add asterick after label.
.required {
    &:after {
        content: " *";
        color: #d24d57;
    }
}

// Temporary bug fixes...

// Required for scrolling.
html, body, .content, .content_wrapper  {
    height: 100%;
}

// Resize banner items on small screens so dots stay below button.
.banner_item {
    @media (max-width: 404px) { height: 598px; }
    @media (max-width: 319px) { height: 636px; }
}
