// Simplify min-width media queries.
@mixin mq_min($break) {
    @if $break == "x-small" {
        @media #{$brkpoint-min-xs} {
            @content;
        }
    }

    @else if $break == "small" {
        @media #{$brkpoint-min-sm} {
            @content;
        }
    }

    @else if $break == "medium" {
        @media #{$brkpoint-min-md} {
            @content;
        }
    }

    @else if $break == "large" {
        @media #{$brkpoint-min-lg} {
            @content;
        }
    }
}

// Simplify max-width media queries.
@mixin mq_max($break) {
    @if $break == "x-small" {
        @media #{$brkpoint-max-xs} {
            @content;
        }
    }

    @else if $break == "small" {
        @media #{$brkpoint-max-sm} {
            @content;
        }
    }

    @else if $break == "medium" {
        @media #{$brkpoint-max-md} {
            @content;
        }
    }

    @else if $break == "large" {
        @media #{$brkpoint-max-lg} {
            @content;
        }
    }
}

@mixin down_arrow($color) {
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-color: $color transparent transparent;
    border-style: solid;
    border-width: 35px 83.5px 0;
}
