.banner_item {
    position: relative;
    @include flex_style($flex-direction: column, $justify-content: center);
    min-height: 550px;
    background-color: $black; // Creates dim effect with opacity .5.

    // Make banner height bigger on medium to large screen sizes.
    @media (min-width: 992px) and (max-width: 1259px) {
        height: 577px;
    }
}

.banner_item-image {
    @extend %fill-container;
    opacity: .5; // Create dim effect.

    // Remove dim effect on screens at least 992px wide.
    @include mq_min(medium) {
        opacity: 1;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover; // Fill container and keep aspect ratio.
    }

    // Add gradients effect to banner on screens at least 992px wide.
    @include mq_min(medium) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            background: linear-gradient(270deg,transparent 25%,#000);
        }
    }
}

.banner_item-content {
    z-index: 4; // Keep content above gradient.

    h1 {
        @include text_style(2.5rem, $line-height: 3rem, $color: $white);
        margin: 0 0 1.25rem;

        // Make heading font and line height bigger on devices at least 992px wide.
        @include mq_min(medium) {
            @include text_style(4rem, $line-height: 5rem, $color: $white);
        }
    }

    p {
        @include text_style(1.25rem, $font-weight: 600, $line-height: 1.75rem, $color: $white);
        margin-bottom: 0.375rem;

        // Make paragraph font and line height bigger on devices at least 992px wide.
        @include mq_min(medium) {
            @include text_style(1.625rem, $line-height: 2.5rem, $color: $white);
            margin-top: 0;
        }
    }

    // Add space around button.
    .banner-item-button {
        margin-top: 1.938rem;
        margin-bottom: 1.125rem;
    }

    // Center text on devices up to 992px wide.
    @include mq_max(medium) {
        text-align: center;
    }
}
