.clients {
    padding: 50px 0;
}

.clients_row {
    display: flex;
}

.clients_row-item {
    @include flex_style($align-items: center); // Center so logos are not stretched.
    position: relative;

    // Add gap between logos.
    padding: 0 20px;
    margin-right: 50px;

    img {
        max-height: 70px;
        max-width: 200px;
        @extend %greyscale-hover-effect;
    }

    // Show clients description box on hover.
    &:hover {
        .clients_row-item-description {
            display: block;
        }
    }
}

.clients_row-item-description {
    display: none; // Hide by default.

    // Set size and position of description box.
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
}

.clients_row-item-description-box {
    @include text_style($color: $white, $text-align: center);
    max-width: 280px;
    background-color: $dark-grey;
    padding: 20px;
    margin: 0 auto 50px;

    h3 {
        font-size: 1.125rem;
        padding-bottom: 17px;
        margin: 0;
    }

    p {
        @include text_style(.8125rem, 1.375rem);
        @extend %underline-links-on-hover;
        margin: 0;
    }
}

.no-description {

    // Removing margin and padding on no description boxes.
    h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    // Hide paragraph on no description boxes.
    p {
        display: none;
    }
}
