.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    // Adjust container width according to screen size.
    @include mq_min(small) {
        width: $cont-width-sm;
    }

    @include mq_min(medium) {
        width: $cont-width-md;
    }

    @include mq_min(large) {
        width: $cont-width-lg;
    }
}