.contact {
    padding-bottom: 50px;
}

.contact_wrapper {
    @include flex_style(column);
    margin: 0px -15px;

    @include mq_min(large) {
        flex-direction: row-reverse;
    }
}

.contact_section {
    padding: 0px 15px;

    @include mq_min(large) {
        width: 33.3%;

        &:nth-child(2) {
            width: 66.6%;
        }
    }
}

.contact_info {    
    p {
        font-weight: 600;
        line-height: 1.875rem;
        margin: 0 0 25px;

        strong {
            font-weight: 600;
            color: $dark-grey;
        }
    }
}

.contact_info-hours {
    a {
        @include text_style(1.625rem, $color: #926fb1);
    }
}

.contact_info-accordion {
    h4 {
        margin: 0 0 15px;

        a {
            color: $dark-grey;
            text-decoration: underline;
        }
    }
}

.contact_form {
    background-color: #e6e7e9;
    border-radius: 10px;
    padding: 30px;

    label {
        @include text_style($font-weight: 600, $color: $dark-grey);
        display: inline-block;
        margin-bottom: 5px;
    }
}

.contact_form-inputs-wrapper {
    @include flex_style($flex-wrap: wrap);
    margin: 0px -15px;
}

.contact_form-input {
    width: 100%;
    padding: 0px 15px;

    @include mq_min(medium) {
        width: 50%;
    }
}

.contact_form-group {
    margin-bottom: 15px;
}

.contact_form-marketing {
    display: flex!important;
    line-height: 32px;
    cursor: pointer;
}

.contact_form-checkbox-wrapper {
    display: inline-block;
    height: 32px;
    min-width: 32px;
    border: 3px solid $dark-grey;
    border-radius: 3px;
    margin-right: 20px;
}

.contact_form-text-wrapper {
    margin-bottom: 15.5px;

    a {
        text-decoration: underline;
    }
}

.contact_form-recaptcha-wrapper {
    font-size: 11px;
    font-weight: 600;
    color: $dark-grey;
    margin: -10px 0px 30px 0px;
}

.contact_form-button-wrapper {
    @include flex_style($align-items: center, $justify-content: space-between);

    small {
        font-size: 85%;
        color: $dark-grey;

        span {
            color: #a94442;
        }
    }
}

.contact_form-message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.form-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.form-success {
    color: #fff;
    border-color: #d6e9c6;
    background: #2ecc71;
}

.form-button {
    padding: 0;
    cursor: pointer;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: .2;
    background: transparent;
}





.offices {
    margin-bottom: 40px;
}

.offices-wrapper {
    margin-top: 20px;
}

.offices-row {
    margin: 0px -15px;
    @include flex_style($flex-wrap: wrap);
}

.offices-item {
    padding: 0px 15px;

    @include mq_max(medium) {
        //margin-bottom: 30px;
    }

    @include mq_min(medium) {
        width: 50%;
    }
}

.address {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    overflow: hidden;
    margin-top: 30px;
}

.image {

    img {
        width: 100%;
        vertical-align: middle;
    }
}

.body {
    @include flex_style(column);
    padding: 30px;

    h2 {
        @include text_style(1.25rem, $color: #333645, $line-height: 1.1, $font-weight: 400);
        margin: 0 0 15px;
        a:hover {text-decoration: underline;}
    }

    p {
        @include text_style(.8125rem, $line-height: 1.375rem);
        margin: 0 0 15px;
    }

    > a {
        @include text_style(1.625rem, $color: #926fb1 !important, $line-height: 1.1, $font-weight: 700);
        &:hover { text-decoration: underline; }
    }

    .office-button {
        margin-top: 15px;
    }
}

.map {
    height: 250px;
    border-radius: 0px 0px 20px 20px;

    img {
        width: 100%;
        height: 100%;
    }
}

.office-button {
    @extend %button;
    @include button_style($white, $background-color: #926fb1, $hover-color: #7e57a0);
    font-size: .9em;
    padding: 5px 30px;
}

.contact_heading-wrapper {
    padding: 50px 0px 0px 0px;
}

.contact_heading {

    @include mq_max(medium) {
        background-color: #333645;
        margin-top: -50px;
        padding: 24px 0px;
        margin-bottom: 50px;

        h1 {
            color: #fff !important;
            margin: 0!important;
        }
    }

    h1 {
        margin: 0 0 28px;
        color: #333645;
        max-width: 750px;
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 1.1;
    }

    .container:before, .container:after {
        content: " ";
        display: table;
    }

    .container:after {
        clear: both;
    }
}

.contact_breadcrumb-wrapper {
    @include mq_max(medium) {
        border-top: 1px solid #333645;
    }
    box-shadow: 0 5px 35px rgba(0,0,0,.1);
    padding: 14px 0 13px;
}

.contact_breadcrumb {
    background: none;
    color: #333645;
    font-size: .8125rem;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 2px;

    li {
        color: #333645;
        display: inline-block;

        a {
            color: #333645;
            font-weight: 800;
        }
    }

    li+li:before {
        content: "/\A0";
        padding: 0 5px; 
        color: #333645;
    }
}
