.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    // Adjust container width according to screen size.
    @include mq_min(small) {
        width: $cont-width-sm;
    }

    @include mq_min(medium) {
        width: $cont-width-md;
    }

    @include mq_min(large) {
        width: $cont-width-lg;
    }
}

.content {
    // Keep content above sidebar.
    position: relative;
    background-color: $white;
    z-index: 2;

    // Animate transform.
    transition: transform 0.5s ease;

    // Move page contents to make room for sidebar.
    &.active {
        transform: translateX(-275px);

        @include mq_min(medium) {
            transform: translateX(-350px);
          }
    }
}

.content-wrapper {
    height: 100vh; // Show vertical scroll bar.
    overflow-x: hidden; // Hide horizontal scroll bar.
}

// Dim page contents.
.overlay {
    display: none;
    @extend %fill-container;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    cursor: pointer;
}

