.contact {
    padding-bottom: 50px;
}

.contact_wrapper {
    // Show contact info and form in column.
    @include flex_style(column);
    margin: 0px -15px;

    // Show contact info and form in row on screens at least 1260px wide.
    @include mq_min(large) {
        flex-direction: row-reverse;
    }
}

.contact_section {
    padding: 0px 15px;

    // Divide space between form and contact info sections.
    @include mq_min(large) {
        &:nth-child(1) { width: 33.3%; } // Contact Info
        &:nth-child(2) { width: 66.6%; } // Form
    }
}

.contact_info {    
    p {
        @include text_style($line-height: 1.875rem);
        margin: 0 0 25px;
        strong { @include text_style($color: $dark-grey, $font-weight: 600); }
    }
}

.contact_info-hours {
    a { @include text_style(1.625rem, $color: #926fb1); }
}

.contact_info-accordion {
    h4 a {
        @include text_style($color: $dark-grey, $font-weight: 600);
        text-decoration: underline;
    }
}

.contact_form {
    // Styling for contact form background.
    background-color: #e6e7e9;
    border-radius: 10px;
    padding: 30px;
}

.panel {
    
    // Hide accordion text.
    max-height: 0;
    overflow: hidden;

    // Animate text being revealed.
    transition: max-height 0.5s ease-out;
}
