.footer-license_wrapper {
    font-size: .8125rem;
    color: $white;
    background-color: #212330;
    padding-top: 10px;

    // Make links white and remove underline.
    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-license {
    display: flex;
    flex-direction: column;
    padding: 5px 0 10px;

    br {
        // Hide break on screens at least 768px wide.
        @include mq_min(small) {
            display: none!important;
        }
    }

    // Put license text on single line on screens at least 768px wide.
    @include mq_min(small) {
        flex-direction: row;
    }
}

.footer-license_sitemap {

    // Add hypthen before sitemap text on screens at least 768px wide.
    @include mq_min(small) {

        margin-left: 10px;

        ::before {
            content: "-\00a0";
            margin-right: 5px;

            // Remove underline and pointer from hypthen.
            cursor: default;
            text-decoration: none;
            display: inline-block;
        }
    }
}