footer {
    font-size: .8125rem;
    color: $white;
    background-color: #323544;
    padding: 27px 0 0;
    position: relative;

    // Make footer h4s uppercase.
    h4 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 26px;
    }

    // Remove bullet points from unordered lists.
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.375rem;
    }

    // Make footer links white and remove underline.
    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @include mq_min(large) {
        padding: 47px 0 0;
    }
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_company {
    
    h4 {
        margin-top: 20px;
    }

    // Create gap between company and links section when screen is at least 1260px wide.
    @include mq_min(large) {
        width: 400px;
    }
}

.footer_company-logo {
    width: 250px;

    img {
        width: 100%;
    }

    // Increase image size to 320px on screens at least 480px wide.
    @include mq_min(x-small) {
        width: 320px;
    }
}

.footer_company-social-media {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    // Style social media icons to look like buttons.
    a {
        text-align: center;
        text-decoration: none;
        font-size: 26px;
        line-height: 26px;
        padding: 12px 22px 16px;
        background-color: #212330;
        margin-right: 7px;

        // Include right and bottom margin on screens up to 1259px wide.
        @include mq_max(large) {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        // Make width of social media buttons 35% on screens up to 480px wide.
        @include mq_max(x-small) {
            width: 35%;
        }

        // Add colors to social media buttons.
        &:nth-child(1):hover { background-color: #3b5998; }
        &:nth-child(2):hover { background-color: #0077b5; }
        &:nth-child(3):hover { background-color: #00aced; }
        &:nth-child(4):hover { background-color: #d93175; }
    }
}

// Center social media icons.
.footer_company-social-media-icons {
    position: relative;
    top: 4px;
}

.footer_links {
    margin-left: -15px;
    margin-right: -15px;

    // Wrap link menus to a new line on screens up to 991px wide.
    @include mq_max(medium) {
        display: flex;
        flex-wrap: wrap;
    }

    // Make footer links section fill free space on screens at least 768px wide.
    @include mq_min(small) {
        flex-grow: 1;
        display: flex;
    }
}

.footer_links-menu {
    margin-bottom: 30px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    h4 {
        margin-top: 0;
        line-height: 1.1;
    }

    // Make each links menu take up 50% of width on screens at least 768px wide.
    @include mq_min(small) {
        width: 50%;
    }

    @include mq_min(large) {
        margin-bottom: 40px;
    }
}