.footer-license {
    @include text_style(.8125rem, $color: $white);
    @extend %underline-links-on-hover;
    background-color: $license-bg-color;
    padding-top: 10px;
}

.footer-license_wrapper {
    @include flex_style(column);
    padding: 5px 0 10px;

    // Put license text on single line on screens at least 768px wide.
    @include mq_min(small) {
        flex-direction: row;
    }
}

.footer-license_sitemap {
    // Add hypthen before sitemap text on screens at least 768px wide.
    @include mq_min(small) {

        margin-left: 10px;

        ::before {
            content: "-\00a0";
            margin-right: 5px;

            // Remove underline and pointer from hypthen.
            display: inline-block;
            text-decoration: none;
            cursor: default;
        }
    }
}
