.header {
    padding: 20px 0px;
}

.header_row {
    display: flex;
    margin: 0px -15px;

    // Set margin to 0 to keep content away from edges on screens up to 767px wide.
    @include mq_max(small) {
        margin: 0;
    }

    // Hide mobile button on devices at least 768px wide.
    @include mq_min(small) {
        .header-phone-button {
            display: none;
        }
    }
}

.header_logo {
    width: 100%; // Make logo container fill free space in header.
    padding: 0px 15px;

    // Keep logo centered and remove padding on screens up to 767px wide.
    @include mq_max(small) {
        align-self: center;
        padding: 0;
    }

    img {
        display: block;
        max-width: 100%; // Prevent logo from expanding beyond container.
    }

    // Adjust logo container width according to screen size.
    @include mq_min(small) { width: 50%; }
    @include mq_min(medium) { width: 41.66666667%; }
    @include mq_min(large) { width: 33.33333333%; }
}

.header_actions {
    @include flex_style($justify-content: flex-end); // Force action items to right side of screen.
    padding: 7px 0px;

    a {
        &.-contact {
            margin-left: 20px; // Add left margin to contact button.
        }
    }

    // Add padding on screens at least 768px wide.
    @include mq_min(small) {
        padding-left: 15px;
        padding-right: 15px;
    }

    // Adjust actions container width according to screen size.
    @include mq_min(small) { width: 50%; }
    @include mq_min(medium) { width: 58.33333333%; }
    @include mq_min(large) { width: 66.66666667%; }
}

.header_small-search-wrapper {
    form {
        position: relative;
        margin-top: 11px;
    }
}

.header_big-search-wrapper {
    form {
        display: flex;

        .header-searchfield {
            // Set search field width according to screen size.
            @include mq_max(medium) { width: 174px; }
            @include mq_min(large) { width: 240px; }

            @media (min-width: 992px) and (max-width:1259px) { display: none; } // Hide search field on medium and large screens.
        }

        .search-bar-button {
            @media (min-width: 992px) and (max-width:1259px) { border-radius: 3px; } // Change submit button radius when search field is hidden.
        }
    }

    // Add space between search bar and buttons on screens at least 992px wide.
    @include mq_min(medium) {
        margin-left: 20px;
    }
}

#js-sticky-header {
    position: fixed; // Position sticky header outside of document flow.
    width: 100%;
    top: 0;
    background-color: $white;
    transition: transform 0.2s ease-in-out;
    z-index: 7; // Make sure it's ontop of other elements.
}
