.header {
    padding: 20px 0px;
}

.header-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;

    // Keep content away from edge of screen on small devices.
    @include mq_max(small) {
        margin: 0;
    }
}

.header-logo {
    width: 100%; // Make logo container fill free space in header.
    padding-left: 15px;
    padding-right: 15px;

    // Keep logo centered and remove padding on small devices.
    @include mq_max(small) {
        align-self: center;
        padding: 0;
    }

    > img {
        display: block;
        max-width: 100%; // Prevent logo from expanding beyond container.
    }

    // Adjust logo container width according to screen size.
    @include mq_min(small) { width: 50%; }
    @include mq_min(medium) { width: 41.66666667%; }
    @include mq_min(large) { width: 33.33333333%; }
}

.header-mobile {
    align-self: center;

    // Set mobile button size, color and add space to left.
    > a > i {
        font-size: 32px;
        color: $dark-grey;
        margin-left: 15px;
    }

    // Hide mobile button on small+ sized devices.
    @include mq_min(small) {
        display: none;
    }
}

.header-actions {
    display: flex;
    justify-content: flex-end; // Force action content to right side.
    padding: 7px 0px;

    > a {

        // Hide buttons on small and medium sized devices.
        @include mq_max(medium) {
            display: none;
        }

        // Style header buttons.
        &.button {
            height: 56px;
            line-height: 46px;
            font-size: 1.125rem;
            color: $white;

            // Add left margin space to second button.
            +.button {
                margin-left: 20px;
            }

            // Set button icon size.
            i {
                font-size: 22.1px;
                margin-right: 1px;
            }
        }

        // Set button colors and hover colors.
        &:nth-child(1) { &.button { background-color: #4183d7; border-color: #4183d7; &:hover { background-color: #2a6ec6; border-color: #2665b5; } } }
        &:nth-child(2) { &.button { background-color: #999aa2; border-color: #999aa2; &:hover { background-color: #84858f; border-color: #797a85; } } }
    }

    // Add padding on small+ sized devices.
    @include mq_min(small) {
        padding-left: 15px;
        padding-right: 15px;
    }

    // Adjust actions container width according to screen size.
    @include mq_min(small) { width: 50%; }
    @include mq_min(medium) { width: 58.33333333%; }
    @include mq_min(large) { width: 66.66666667%; }
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Create burger box.
    height: 56px;
    background-color: $dark-grey;
    border-radius: 3px;
    padding: 5px 15px;
    margin-left: 20px;
    cursor: pointer;
}

.burger-line {
    // Create burger box lines.
    height: 4px;
    width: 33px;
    background-color: $white;

    // Add space between lines.
    &:nth-child(2) {
        margin: 6px 0px;
    }
}

.header-search {
    form {
        display: flex;

        .input_search-field {

            // Set search field width according to screen size.
            @include mq_max(medium) { width: 174px; }
            @include mq_min(large) { width: 240px; }

            @media (min-width: 992px) and (max-width:1259px) { display: none; } // Hide search search field between medium and large screens.
        }

        .button_search {
            @media (min-width: 992px) and (max-width:1259px) { border-radius: 3px; } // Change submit button radius when search field is hidden.
        }
    }

    // Hide top search bar on small devices.
    @include mq_max(small) {
        display: none;
    }

    // Add space between search and buttons.
    @include mq_min(medium) {
        margin-left: 20px;
    }
}

.header-search-xs {
    form {
        position: relative; // Needed for positioning search button.
        margin-top: 11px;
    }

    // Hide xs search bar on small+ devices.
    @include mq_min(small) {
        display: none;
    }
}