.latest-news_headings {
    @include flex_style($align-items: center, $justify-content: space-between); // Use space between to put two headings on opposite sides.
    padding-top: 50px;
}

.latest-news_big-heading {
    h1 {
        @include text_style(2.25rem, $font-weight: 400, $color: $dark-grey);
        margin: 0 0 28px;
    }
}

.latest-news_small-heading {
    @extend %underline-links-on-hover;

    h3 {
        @include text_style(1.625rem, $color: $dark-grey, $text-align: center, $line-height: 1.1);
        margin: 0 0 15px;
    }
}

.latest-news_articles {
    margin: -30px -15px 0px -15px;
    padding-bottom: 50px; // Create gap betwen articles and view all heading.

    @include flex_style($flex-direction: column, $align-items: center);

    // Change articles to row on screens at least 768px wide.
    @include mq_min(small) {
        flex-direction: row;
    }
}

.latest-news_article-wrapper {
    position: relative;
    padding: 0px 15px;

    // Loop through articles setting colors for titles, buttons and tags.
    @for $i from 1 through length($article-colors) {
        &:nth-child(#{$i}) {
            h3 strong { color: nth($article-colors, $i); }
            .latest-news-article-button { @include button_style($white, nth($article-colors, $i)); font-weight: 400; } 
            .latest-news-article-tag { background-color: nth($article-colors, $i); @extend %underline-links-on-hover; }
        }
    }
    
    // Hide last article on screens between 768 and 1259px wide.
    @media (min-width: 768px) and (max-width: 1259px) {
        &:nth-child(3) {
            display: none;
        }
    }

    @include mq_min(large) {
        width: 33.3%;
    }
}

.latest-news_article {
    @extend %move-up-on-hover;
    @extend %make-link;
    position: relative;
    margin-top: 30px;
}

.latest-news_article-image {
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.latest-news_article-text {
    // Give bottom of article rounded corners and add shadow.
    border-top: 0;
    border: 1px solid $grey;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    padding: 30px; // Indent article text.

    h3 {
        @include text_style(1rem, $font-weight: 400, $line-height: 1.5rem);
        margin: 0 0 15px;
    }

    p {
        @include text_style(.8125rem, $line-height: 1.375rem);
        margin-bottom: 25px;
    }
}

.latest-news_article-readtime {
    @include text_style(.85rem, $color: rgba(51,54,69,.5));
    display: inline;
    text-transform: uppercase;
    vertical-align: middle;
}

.latest-news_article-author {
    @include flex_style($align-items: center); // Center avatar and details
    font-size: .875rem;
    border-top: 1px solid $grey;
    padding-top: 30px;
    margin-top: 30px;
}

.latest-news_article-author-avatar {
    border-radius: 50%; // Make avatar a circle.
    overflow: hidden;

    img {
        display: block;
    }
}

.latest-news_article-author-details {
    line-height: 1.375rem;
    padding-left: 20px;

    // Make posted by text dark grey.
    strong {
        color: $dark-grey;
    }
}
