.navigation {
    position: relative;
    display: none; // Hide by default.
    background-color: $dark-grey;

    // Show navigation bar on screens at least 992px wide.
    @include mq_min(medium) {
        display: block;
    }
}

.navigation_bar {
    > ul {
        @include flex_style($flex-direction: row, $align-items: center); // Display navigation bar items in a row.
    }
}

@include setup_navigation_bar($services); // Set up navigation bar service classes.

.navigation_bar-item {
    flex: 1; // Make each navigation item take up equal space.
    text-align: center;

    > a {
        position: relative;
        display: block;
        @include text_style(1.125rem, $line-height: 1, $color: $white);
        text-transform: uppercase;
        padding: 19px 0 18px;

        small {
            display: block; // Make small text appear on new line.
            font-size: .625rem;
            padding-bottom: 1px;
        }
    }

    // Show navigation item sub menu on hover.
    &:hover .navigation_bar-item-menu {
        display: block;
    }
}

.navigation_bar-item-menu {
    // Position menu below navigation bar
    position: absolute;
    display: none;
    min-width: 100%;
    left: 0;
    z-index: 5; // Appear in front of banner.
    padding: 50px 0px;

    // Remove container padding.
    .container {
        padding: 0;
    }
}

.navigation_bar-menu-links {
    @include flex_style($flex-wrap: wrap, $align-items: center);
    text-align: left;
    margin-top: -15px;
}

.navigation_bar-menu-heading {
    width: 100%; // Make heading fill first row.
    margin: 15px 0px 10px 0;

    h2 {
        @include text_style($font-size: 2rem, $font-weight: 400, $line-height: 1.1, $color: $white);
        margin: 0;
    }
}

.navigation_bar-menu-link {
    width: 33%; // Shows 3 links per row.
    margin-top: 15px;

    a {
        display: flex; // Put icon and text on same line.
        @include text_style(1.2rem, $font-weight: 400, $line-height: 1.313rem, $color: $white);
        padding: 0.625rem 0.938rem 0.625rem 0;
    }
}
