.navigation {
    position: relative; // Required for sub menu position.
    background-color: #333645;

    // Only show navigation bar on medium+ sized screens.
    @include mq_max(medium) {
        display: none;
    }
}

.navigation-bar {
    > ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.navigation-item {
    flex: 1; // Make each navigation item take up eqaul space.
    text-align: center;

    > a {
        position: relative; // Required for down arrow position.
        display: block;
        font-size: 1.125rem;
        line-height: 1;
        text-transform: uppercase;
        color: $white;
        padding: 19px 0 18px;

        > small {
            display: block; // Make small text appear on new line.
            font-size: .625rem;
            padding-bottom: 1px;
        }
    }

    // Show navigation item sub menu on hover.
    &:hover .navigation-item-menu {
        display: block;
    }

    // Arrays for icon colors and sub menu colors.
    $i-colors: #67809f, #4183d7, #2ecc71, #d64541, #926fb1, #f62459, #ce4125;
    $m-colors: #526781, #286abd, #25a25a, #bc2c28, #79539a, #de093f, #a3331d;

    // Loop for adding all the icon colors and sub menu colors to each navigation item.
    @for $i from 1 through length($i-colors) {
        &:nth-child(#{$i}) {
            .navigation-item-icon {color: nth($i-colors, $i);}
            .navigation-item-menu {background-color: nth($m-colors, $i);}

            // Change colors on hover.
            &:hover {
                background-color: nth($i-colors, $i);
                .navigation-item-icon {color: $white;}

                // Add down arrow beneath navigation item.
                > a:before {
                    content: "";
                    @include down_arrow(nth($i-colors, $i));
                }
            }
        }
    }
}

.navigation-item-icon {
    display: block;
    font-size: 1.438rem;
    padding-bottom: 8px;
}

.navigation-item-menu {
    position: absolute;
    display: none;
    min-width: 100%;
    left: 0;
    z-index: 10; // Appear in front of banner.
    padding-top: 50px;
    padding-bottom: 50px;

    // Remove container padding.
    .container {
        padding: 0;
    }
}

.navigation-menu-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    list-style: none;
    padding: 0;
    margin-top: -15px;
}

.navigation-heading {
    width: 100%; // Make heading fill first row.
    color: $white;
    margin-top: 15px;
    margin-bottom: 10px;

    > h2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1;
        margin: 0;
    }
}

.navigation-link {
    width: 33%; // Shows 3 links per row.
    margin-top: 15px;

    > a {
        display: flex; // Put icon and text on same line.
        color: $white;
        font-size: 1.2rem;
        line-height: 1.313rem;
        padding: 0.625rem 0.938rem 0.625rem 0;
    }
}

.navigation-link-icon {
    display: flex;
    align-items: center;
    min-width: 25px;
}

.navigation-link-text {
    margin-left: 10px; // Add space between icon and text.

    &:hover {
        text-decoration: underline;
    }
}