.newsletter {
    background-color: $newsletter-bg-color;

    // Style all labels in newsletter.
    label {
        @include text_style($font-weight: 600, $color: $dark-grey);
        display: inline-block;
        margin-bottom: 5px;
    }
}

.newsletter_form {
    padding: 50px 0;

    h2 {
        @include text_style(2rem, $font-weight: 400, $line-height: 1.1, $color: $dark-grey);
        margin: 0 0 15px;

    }
}

.newsletter_form-inputs-wrapper {
    @include flex_style($flex-wrap: wrap); // Make text fields wrap to new line on smaller screens.
    margin: 0px -15px;
}

.newsletter_form-input {
    width: 100%;
    padding: 0px 15px;

    // Put text fields on same line on screens at least 992px wide.
    @include mq_min(medium) {
        width: 50%;
    }
}

.newsletter_form-group {
    margin-bottom: 15px;
}

.newsletter_form-marketing {
    display: flex!important; // Overwrite default style so checkbox and marketing text appear on same line.
    line-height: 32px;
    cursor: pointer;
}

.newsletter_form-checkbox-wrapper {
    // Create styled checkbox.
    display: inline-block;
    height: 32px;
    min-width: 32px;
    border: 3px solid $dark-grey;
    border-radius: 3px;
    margin-right: 20px;
}

.newsletter_form-text-wrapper {
    margin-bottom: 15.5px;

    a {
        text-decoration: underline; // Show underline for 'privacy policy' text.
    }
}
