.services-sections {
    padding-top: 50px;
    padding-bottom: 50px;
}

.services-grid-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

.services-heading-1 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 8px;
    
    display: flex;
    justify-content: space-between; // Create space between headings.

    color: $dark-grey;
    
    h1 {
        font-size: 2.7rem;
        margin: 0;
    }

    a {
        display: none;
        font-size: 1.625rem;
        margin: 0;
        
        &:hover {
            text-decoration: underline;
        }

        i {
            height: 26px;
            font-size: 26px;
        }

        @include mq_min(small) {
            display: block;
        }
    }

    @include mq_min(small) {
        margin-bottom: -5px;
    }
}

.services-heading-2 {
    display: none!important;
    text-align: center;
    margin: 30px auto -70px;

    h3 {
        font-size: 1.625rem;
        line-height: 1.1;
        color: $dark-grey;
        margin-bottom: 15px;
    }

    @include mq_max(small) {
        display: block!important;
    }
}

.services-grid-1 {
    display: grid;

    $grid-1-colors: #67809f, #4183d7, #2ecc71;

    @for $i from 1 through length($grid-1-colors) {
        .service:nth-child(#{$i}) {

            .service-icon, .button {
                background-color: nth($grid-1-colors, $i);
                border-color: nth($grid-1-colors, $i);
            }

            .service-box {

                &:hover {
                    transition: .5s ease;
                    background-color: nth($grid-1-colors, $i);

                    .service-icon, .button {
                        color: nth($grid-1-colors, $i);
                        background-color: $white;
                        border-color: $white;
                    }

                    h2, p {
                        color: $white;
                    }
                }
            }
        }
    }

    @include mq_min(medium) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.services-grid-2 {
    display: grid;

    $grid-2-colors: #d64541, #926fb1, #f62459, #ce4125;

    @for $i from 1 through length($grid-2-colors) {
        .service:nth-child(#{$i}) {

            .service-icon, .button {
                background-color: nth($grid-2-colors, $i);
                border-color: nth($grid-2-colors, $i);
            }

            .service-box {
                &:hover {
                    transition: .5s ease;
                    background-color: nth($grid-2-colors, $i);

                    .service-icon, .button {
                        color: nth($grid-2-colors, $i);
                        background-color: $white;
                        border-color: $white;
                    }

                    h2, p {
                        color: $white;
                    }
                }
            }
        }
    }

    @include mq_min(small) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq_min(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.service {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    top: 0;
    transition: .5s ease;

    &:hover {
        top: -10px;
        transition: .5s ease;
    }
}

.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $dark-grey;
    border-radius: 15px;
    border: 1px solid $grey;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    margin-top: 30px;

    h2 {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.1;
        padding-bottom: 10px;
        margin: 0 0 11px;
    }

    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        text-align: center;
        margin-top: 0;
    }

    .button {
        color: $white;
    }
}

.service-icon {
    height: 65px;
    width: 65px;
    text-align: center;
    color: $white;
    border-radius: 50%;
    margin-bottom: 17px;

    i {
        font-size: 2rem;
        line-height: 62px;
    }
}