.services_section-wrapper {
    padding: 50px 0px;
}

.services_section {
    margin: 0px -15px;
}

.services_section-headings {
    @include flex_style($align-items: center, $justify-content: space-between); // Use space between to put two headings on opposite sides.
    padding: 0px 15px;
    margin-bottom: 8px;
}

.services_big-heading {
    h1 {
        @include text_style(2.7rem, $color: $dark-grey);
        margin: 0;
    }
}

.services_small-heading {
    @extend %underline-links-on-hover;

    h3 {
        @include text_style(1.625rem, $text-align: center, $color: $dark-grey);
        margin: 0;
    }
    
    // Adjust heading and container margin on screens up to 767px wide.
    @include mq_max(small) {
        h3 {
            margin-bottom: 15px;
        }
        margin: 27px auto -75px;
    }
}

.services_grid-1 {
    display: grid;
    $grid-colors: #67809f, #4183d7, #2ecc71;
    @include set_service_colors($grid-colors);

    // Show 3 services per row on screens at least 992px wide.
    @include mq_min(medium) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.services_grid-2 {
    display: grid;
    $grid-colors: #d64541, #926fb1, #f62459, #ce4125;
    @include set_service_colors($grid-colors);
    
    // Show 2 services per row on screens at least 768px wide.
    @include mq_min(small) {
        grid-template-columns: repeat(2, 1fr);
    }

    // Show 4 services per row on screens at least 1260px wide.
    @include mq_min(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.services_grid-item-wrapper {
    padding: 0px 15px;
}

.services_grid-item {
    position: relative;
    @include flex_style($flex-direction: column, $align-items: center);
    @extend %move-up-on-hover;

    // Create border and add shadow.
    border: 1px solid $grey; 
    border-radius: 15px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    margin-top: 30px; // Create vertical space between services.
    padding: 30px; // Indent content.

    h2 {
        @include text_style(1.3rem, $font-weight: 400, $line-height: 1.1, $color: $dark-grey);
        padding-bottom: 10px;
        margin: 0 0 11px;
    }

    p {
        @include text_style(.8125rem, $text-align: center, $line-height: 1.375rem, $color: $dark-grey);
        margin-top: 0;
    }
}
