.welcome {
    background-color: $dark-grey;
    color: $white;
}

.welcome_sections-wrapper {
    padding: 50px 0px;
    margin: 0px -15px;

    @include flex_style($flex-direction: column); // Show sections in column by default.

    // Show sections in row on screens at least 992px wide.
    @include mq_min(medium) {
        flex-direction: row;
    }
}

.welcome_section {
    padding: 0px 15px;

    h1 {
        @include text_style(36px, $line-height: 1.1);
        margin: -6px 0px 40px 0px;
    }

    p {
        @extend %underline-links-on-hover;
        line-height: 1.875rem;
        margin: 0px 0px 25px 0px;
    }

    // Add space between stars and quote text.
    .icon-star {
        display: inline-block;
    }

    // Give sections equal width of screens at least 992px wide.
    @include mq_min(medium) {
        width: 50%;
    }
}

.welcome_section-buttons-wrapper1 {
    a {
        &:first-child {
            @include mq_max(large) {
                margin-bottom: 17px; // Set bottom margin for first welcome button on screens up to 1260px wide.
            }
        }

        @include mq_max(medium) {
            margin-bottom: 50px; // Set bottom margin for welcome buttons on screens up to 992px wide.
        }
    }
}

.welcome_section-quote {
    @include text_style(1.3rem, $font-weight: 600);
}

.welcome_section-quote-author {
    @include text_style(1.1rem, $color: #a3a8ac, $font-weight: 600);
    @extend %underline-links-on-hover; 
    a { color: $white } // Make author link white.
}

.welcome_section-buttons-wrapper2 {
    a {
        &:first-child {
            margin-right: 8px; // Set right margin for first button.
        }

        margin-top: 25px; // Set top margin for both buttons.
    }
}
