.clients-description-button {
    @extend %button;
    font-size: 1rem;
    margin-top: 11px;
}

.clients-arrow {
    // Size and position arrow below client description box.
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -36px;

    // Draw arrow.
    &:after {
        content: "";
        margin: auto;
        display: inline-block;
        border-color: $dark-grey transparent transparent;
        border-style: solid;
        border-width: 35px 36px 0;
    }
}

.-ashcroft, .-traveller {
    @include button_style($white, #926fb1, #7e57a0);
}

.-searles, .-sweetzy, .-gdst {
    @include button_style($white, #2ecc71, #26ab5f);
}

.-swan {
    @include button_style($white, #67809f, #566c88);
}

.-guilding {
    @include button_style($white, #4183d7, #2a6ec6);
}
