.contact-textfield {
    height: 47px;
    width: 100%;
    border: 1px solid $grey;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 5px 15px;
    @extend %highlight-textfield-on-focus;

    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.contact-textarea {
    min-height: 100px;
    height: 100px;
    width: 100%;
    border: 1px solid $grey;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 5px 15px;
    @extend %highlight-textfield-on-focus;

    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.contact-checkbox {
    position: fixed;
    opacity: 0; // Hide checkbox.

    // When checked insert custom checkmark in wrapper.
    &:checked + .contact_form-checkbox-wrapper:before {
        content: "✓";
        @include flex_style($align-items: center, $justify-content: center);
        height: 100%;
        width: 100%;
        color: $white;
        background-color: $footer-bg-color;
    }
}

.contact-subscribe-button {
    @extend %button;
    @include button_style($white, $dark-grey, $darker-grey);
}

.accordion-panel {
    max-height: 0;
    background-color: $white;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
