.newsletter-textfield {
    height: 47px;
    width: 100%;
    border: 1px solid $grey;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 5px 15px;
    @extend %highlight-textfield-on-focus;
}

.newsletter-checkbox {
    position: absolute;
    opacity: 0; // Hide checkbox.

    // When checked insert custom checkmark in wrapper.
    &:checked + .newsletter_form-checkbox-wrapper:before {
        content: "✓";
        @include flex_style($align-items: center, $justify-content: center);
        height: 100%;
        width: 100%;
        color: $white;
        background-color: $footer-bg-color;
    }
}

.newsletter-subscribe-button {
    @extend %button;
    @include button_style($white, $dark-grey, $darker-grey);
}
